body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}
h3{
  font-size: 18px;
  font-weight: bold;
}
.modal-footer h3 {
  text-align: left;
}

@media only screen and (max-width: 425px) {
  .modal-90w {
    min-width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .modal-90w {
    min-width: 90%;
  }
}
@media only screen and (max-width: 768px) {
  .modal-90w {
    min-width: 90%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .modal-90w {
    min-width: 90%;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .modal-90w {
    min-width: 90%;
  }
}
@media only screen and (min-width: 1441px) {
  .modal-90w {
    min-width: 90%;
  }
}
.row-100w{
  display: block;
  width: 100%;
  float: left;
}
.floatLeft{
  float: left;
  display: block;
}
.floatRight{
  float: right;
  display: block;
}
.blue{
  color:#007bff;
}
.blue:hover, .blue:focus{
  text-decoration: none;
}
.blue .fa{
  font-size: 16px;
}
.error {
  color: red;
}
.text-input-error {
  border-color: red !important;
}
.form-row {
  margin-top: 15px;
}
/*** 
Tooltip styling */
[data-tooltip] {
  position: relative;
  z-index: 1;
}
/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}
/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  top: 20px;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -70px;
  padding: 7px;
  width: 150px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 16px;
}
/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after
{
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}